<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload_images</title>
</head>
<body>
    <h1>upload images</h1>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="upload_file" style="margin-top:40px;"/>
        <br>
        <i>选项1: </i>
        <input type="text" class="txt_input" name="选项1"  value="" style="margin-top:20px;"/>
        <br>
        <i>选项2: </i>
        <input type="text" class="txt_input" name="选项2"  value="" style="margin-top:20px;"/>
        <br>
        <i>选项3: </i>
        <input type="text" class="txt_input" name="选项3"  value="" style="margin-top:20px;"/>
        <br>
        <i>选项4: </i>
        <input type="text" class="txt_input" name="选项4"  value="" style="margin-top:20px;"/>
        <br>
        <i>选项5: </i>
        <input type="text" class="txt_input" name="选项5"  value="" style="margin-top:20px;"/>
        <br>
        <input type="submit" value="提交" class="button-new" style="margin-top:20px;"/>
    </form>
</body>
</html>